.sidebarBox{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.08), 19, 0.0, 0, 16);
}

.sidebarButton{
    -fx-background-color: none;
    -fx-text-fill: #818181;
    -fx-background-radius: 6px;
    -fx-padding: 10px 12px;
}

.activeButton {
    -fx-background-color: #007AFF;
    -fx-text-fill: #fff;
}

.sidebarDeconnexion{
    -fx-background-color: none;
    -fx-text-fill: #FF3C3C;
    -fx-padding: 10px 12px;
}

.column-header .label {
    -fx-alignment: center-left;
}


.column-header .label {
    -fx-alignment: center-left;
    -fx-text-fill: black;
    -fx-background-color: #FFFFFF;
}

.table-view {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
}

.table-view .column-header-background .filler,
.table-view .column-header-background .column-header {
    -fx-background-color: transparent;
    -fx-background-radius: 10px 10px 0 0;
}

.table-view .column-header {
    -fx-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 4px;
}

.table-view .column-header .arrow {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-background-color: #FFFFFF;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-family: 'SF Pro Display', sans-serif;
    -fx-font-weight: medium;
    -fx-font-size: 16px;
    -fx-text-fill: #000;
}

.table-view .table-cell {
    -fx-text-fill: #666666;
    -fx-alignment: center-left;
}

.button-icon {
    -fx-background-color: transparent;
    -fx-padding: 4;
    -fx-cursor: hand;
}

.buttonSubmit{
    -fx-text-fill: white;
    -fx-background-color: #007AFF;
}
.buttonSubmit:hover{
    -fx-background-color: #CBE4FF;
    -fx-text-fill: #007AFF;
}

.text-field-custom {
    -fx-pref-width: 300px;
}